[2019-02-28 11:15] SaadAttieh opened #405 "This should never happen when "for" used instead of "forAll""
find s : set of int(1..5)
such that for i in s . i % 2 = 0

conjure: This should never happen, sorry!

However, it did happen, so it must be a bug. Please report it to us!

Conjure is actively maintained, we will get back to you as soon as possible.
You can help us by providing a minimal failing example.

Also include the repository version for this build: ca269a397 (2019-01-30 15:52:59 +0000)

Is

[2019-02-28 11:25] ozgurakgun commented on #392
This seems to be fixed, looking at my last comment here. Please reopen if not.

[2019-02-28 11:25] #392 closed

[2019-02-28 11:30] SaadAttieh opened #406 "Large one dimensional function param takes far to long to parse"
example knapsack and knapsack param attached.
[large.zip](https://github.com/conjure-cp/conjure/files/2914747/large.zip)

[2019-02-28 11:36] #405 closed

[2019-02-28 11:57] SaadAttieh opened #407 "Add support for substring and subsequence quantifiers"

[2019-02-28 13:52] ozgurakgun commented on #407
Shouldn't be too hard, I plan get to this soon.

[2019-02-28 15:20] #404 closed

[2019-03-11 14:27] ChrisJefferson opened #408 "size of matrix comprehension doesn't work"
[code]

[2019-03-11 14:37] ChrisJefferson opened #409 "Error with expressions in matrix comprehension"
[code]

[2019-03-11 14:38] ChrisJefferson commented on #409
Actually, this just needs:

`[i | i <- S] = []`

[2019-05-28 09:57] Revilotom opened #410 "IDE - Linting mode for VSCode Extension"
We could have a mode:

[code]
That lints and returns a list of error objects (JSON) :
[code]

[2019-05-28 10:00] Revilotom opened #411 "IDE - Type querying for hovers in VSCode Extension"
We could have a mode:
[code]
That could return the type of a decision variable within the model:
[code]

[2019-05-28 10:08] Revilotom opened #412 "IDE - readthedocs keyword endpoint for hovers in VSCode Extension"
We could have some routes like:

[code]

That return information about the keyword in markdown format.

[2019-05-31 10:46] SaadAttieh opened #413 "Inconsistency when getting size of enum domains,"
given a domain like
`letting E be new type enum {a, b, c, d, e}`

First, it seems like `|E|` does not work in any context.
[code]
seems to work when used in another domain constructor like
[code]

but not when used in a constraint
[code]

[2019-05-31 10:50] SaadAttieh opened #414 "Cannot get size of list comprehension"
I realise the below example is a bit contrived.  But it is just a minimal example. I think it should be possible to get the size of a list comprehension, as if treated as a sequence.
[code]

[2019-05-31 14:29] fraser-dunlop commented on #414
This gem is courtesy of Chris Jefferson

[code]

Coming soon as a rewrite rule for opTwoBars :)

[2019-05-31 14:37] fraser-dunlop commented on #414
#416

[2019-06-01 12:54] Revilotom opened #417 "IDE - Query conjure for available representations for decision variables"
For the confgiuration panel in the vscode extension it would be nice if we could specify conjure options. We could have a mode like:
[code]

Which outputs a JSON structure like:
[code]

[2019-06-01 13:56] Revilotom opened #418 "Print progress when solving"
Just a thought.

It might be nice to know what stage the task has reached, like:

Conjure modelling started..
Savilerow started..
Minion started..

[2019-06-01 17:58] SaadAttieh commented on #418
Agreed, not sure if this would be too much but it would also be good to see some of SRs messages passed through like domain filtering. In the long term, in order to better support local search, a mode where the pipeline outputs info on the solver such as current best objective, time taken, etc. would be useful. But perhaps as a first step, just info on the different stages.

Regards,
Saad
 Sent fr

[2019-06-03 08:34] fraser-dunlop commented on #414
merged to master

[2019-06-03 08:34] #414 closed

[2019-06-03 11:08] ozgurakgun commented on #418
This is coming.

[2019-06-03 12:29] #413 closed

[2019-06-03 12:38] ozgurakgun commented on #418
Is this what you were after @Revilotom?

[2019-06-03 13:31] ozgurakgun commented on #412
I am looking into this, but turns out I cannot build the documentation locally any more. Can anyone else? It seems to work fine on readthedocs.

/cc @ott2 @fraser-dunlop

[2019-06-03 15:09] Revilotom commented on #418
Yes thank you!

[2019-06-03 15:10] #418 closed

[2019-06-03 20:22] ozgurakgun commented on #413
Please reopen if needed @SaadAttieh.

[2019-06-04 10:15] Revilotom commented on #411
@ozgurakgun  This doesn't seem to include lettings? Is this on purpose?

[2019-06-05 11:02] SaadAttieh commented on #407
@ozgurakgun  any progress on this?

[2019-06-05 11:04] SaadAttieh opened #419 "Add type checking for multiple objectives, lex ordered."
[code]

[2019-06-06 09:02] fraser-dunlop commented on #419
I'm working on a flattenLex branch for symmetry ordering. We can use that machinery to flatten whatever is in an objective to a 1-D matrix. Is that what we want?

[2019-06-06 09:08] ozgurakgun commented on #419
No no, this is unrelated. We will just pass this on to SR.

[2019-06-06 09:53] #419 closed

[2019-06-06 09:55] ozgurakgun commented on #419
The Conjure part of this is done now (modulo any bugs you may find).

Please pester your friendly local Savile Row developer for SR support if needed.

[2019-06-06 17:16] fraser-dunlop commented on #419
Great!

[2019-06-06 20:21] pwn1 commented on #419
I don't know where you'll find a friendly _local_ SR developer.

[2019-06-07 13:12] ozgurakgun opened #422 "Push fromSolution inwards"

[2019-06-07 14:41] ozgurakgun opened #423 "Finish setting up Azure Pipelines"
Azure Pipelines seems like a good option to replace travis+appveyor.

I just cannot get the Windows build to go through yet, the version of bash they have on that Windows image is broken in funny ways. Or probably I don't understand it.

We can automate the release process as well, and hopefully can make more frequent releases thanks to that. If anybody want to have a look or help, see the azure-p

[2019-06-07 14:44] ozgurakgun commented on #422
@gokberkkocak

Do you have an example Essence file where the output fromSolution contains anything other that a reference to a decision variable?

[2019-06-08 15:19] ott2 commented on #412
``make docs`` still seems to work for me; this might be related to specific Sphinx versions?
``sphinxmanual.cls: sphinxmanual 2016/10/12 v1.5``

There were some non-fatal errors (reasonable PDF is still produced):
[code]
which I'll take a look at.

[2019-06-08 15:56] ott2 commented on #412
Looks like the branch is protected currently; my fixes for the three RST errors above await resolution of the current discussion.  Not sure this will fix @ozgurakgun being unable to build docs, though.

[2019-06-09 21:48] SaadAttieh opened #424 "Slow parameter parsing"
Trying to parse large knapsack instances (size 100,000) for the knapsack essence spec in the essence catalog.  Once translated SR can convert the eprime into minion in 15 seconds.  Conjure, in translate-param mode, not sure how long it takes.  More than 10 minutes I think.  Attached parameter as .txt file as GitHub seems to only allow this.

[large.param.txt](https://github.com/conjure-cp/conjure/

[2019-06-09 21:49] #408 closed

[2019-06-09 21:49] #409 closed

[2019-06-09 22:22] SaadAttieh opened #425 "Conjure gives bad error message if the error is in the first line"
Silly example:

When the error is in the first line, we just get a vague error:
[code]

But when the error is on the second line, we get a better, more specific message.

[code]
[code]

[2019-06-09 23:10] SaadAttieh commented on #425
Just an FYI, this is prevented by making the language statement the first line instead of the letting.   Seems like the letting must be the first thing in the file to observe this.

[2019-06-09 23:57] #424 closed

[2019-06-10 00:27] ozgurakgun opened #426 "Support both glucose and glucose-syrup as solvers"

[2019-06-10 01:17] #425 closed

[2019-06-10 09:30] #426 closed

[2019-06-10 10:12] ozgurakgun commented on #406
Oh I see this was here as well! Is this the same issue, if so can we close it?

[2019-06-10 10:54] ozgurakgun commented on #398
This should be fixed thanks for @fraser-dunlop's tagged-ints work. Please reopen if there is a problem!

[2019-06-10 10:54] #398 closed

[2019-06-10 11:02] SaadAttieh commented on #406
oh whoops, didn't realise this was here. Closing now.

[2019-06-10 11:02] #406 closed

[2019-06-10 14:14] #371 closed

[2019-06-10 14:18] ozgurakgun commented on #369
Are you after `log2` only? I assume this does not need to work on decision variables?

[2019-06-10 15:11] gokberkkocak commented on #422
It should be pushed outwards not inwards.

For a specific nested case like matrix in a record, the second indexing left inside of fromSolution in dominance relation which causes the problem.

Simple reproduce;

[code]
Dominance becomes;
[code]

[2019-06-10 15:55] pwn1 commented on #422
If this is difficult in Conjure, I think it is probably not difficult in Savile. I can relax the definition of fromSolution to mean that any decision-variable identifier inside it should be treated as coming from the solution, and when doing the replacement just scan up the tree to see if the current node is contained in a fromSolution.

[2019-06-10 16:40] ozgurakgun commented on #422
Thanks Pete, should be fixed now. @gokberkkocak please reopen if needed.

[2019-06-10 16:40] #422 closed

[2019-06-10 16:58] ozgurakgun commented on #383
Hi @ott2

I am trying to reproduce this. Can you add a parameter file as well please?

[2019-06-10 17:12] #400 closed

[2019-06-10 20:44] ozgurakgun commented on #423
Testing is done. Azure runs the long-running tests on linux and max now. We keep travis for testing different optimisation levels on the quick tests.

Automating releases is the next thing.

[2019-06-10 21:02] ozgurakgun commented on #394
I think we have decided not to do that. Let me know if you still want it please.

[2019-06-10 21:02] #394 closed

[2019-06-10 21:03] #334 closed

[2019-06-10 21:05] #339 closed

[2019-06-10 21:50] #141 closed

[2019-06-10 21:52] #245 closed

[2019-06-10 21:52] #296 closed

[2019-06-11 08:19] #298 closed

[2019-06-11 08:19] #345 closed

[2019-06-11 08:19] #358 closed

[2019-06-11 08:19] #365 closed

[2019-06-11 08:19] #366 closed

[2019-06-11 08:19] #351 closed

[2019-06-11 08:20] #133 closed

[2019-06-11 08:20] #338 closed

[2019-06-11 11:18] #402 closed

[2019-06-11 11:23] #320 closed

[2019-06-11 11:24] ozgurakgun commented on #401
I am pretty sure you don't have this any more, but will ask just in case: do you have the input that was causing this message?

[2019-06-11 11:28] ozgurakgun commented on #395
Hi @ott2 -

It's been a while a realise. I am trying to reproduce this but it seems with current Conjure the first two models work.

For reference, the following is the E' I get for the first one.

[code]

[2019-06-11 11:32] SaadAttieh commented on #401
Guessing here, I think flatten returns a matrix and it does not look like conjure has a quantifier generator for matrices.  This gives a “this should never happen”:
[code]

[2019-06-11 16:08] #349 closed

[2019-06-11 20:49] ozgurakgun commented on #401
Thanks @SaadAttieh - I added a couple more examples as regression test cases and will push a fix soon.

[2019-06-12 08:09] #401 closed

[2019-06-12 17:59] ozgurakgun commented on #412
@Revilotom - this seems easy enough. I added a `docs/keywords/subsetEq.rst` file and it appeared here: https://conjure.readthedocs.io/en/latest/keywords/subsetEq.html

So if you generate links pointing to https://conjure.readthedocs.io/en/latest/keywords/X.html we can start populating those.

[2019-06-12 18:33] ozgurakgun commented on #411
This should be better, see the example in the commit.

[2019-06-12 20:46] ozgurakgun commented on #417
@Revilotom I'll close this, but please reopen if you need anything!

[2019-06-12 20:46] #417 closed

[2019-06-12 20:47] ozgurakgun commented on #411
ditto #417

[2019-06-13 08:14] ozgurakgun commented on #410
I think we should just use `conjure pretty X.essence` for this for now - this would take too much time (that I won't have in the coming weeks...).

That command will produce an error message or a "pretty printed" version of the input if there are no errors. The printing will remove comments which is not great, I can look into maintaining them at some point.

[2019-06-13 17:49] Revilotom commented on #412
Awesome!

[2019-06-14 09:51] ott2 commented on #412
Documentation fixes mentioned above are in commit 12d2d2aa941b82ae5be4fbdb9094b0e2be2a08c3

@ozgurakgun are you still unable to build docs?

[2019-06-14 10:47] ott2 commented on #369
I was just wanting a built-in `log2()` operator for `letting` statements.  If we add a log operator for decision variables, then Conjure would have to support things like

[code]

[2019-06-18 14:47] #412 closed

[2019-06-18 14:47] ozgurakgun commented on #410
`conjure type-check X.essence` might work even better for this. No output if everything goes well, an error message to be shown to the user otherwise.

[2019-06-18 14:47] #410 closed

[2019-06-18 15:00] ozgurakgun commented on #411
We will add a textual description field to be used by the IDE for hovers. And a isValidEssence boolean field to say whether the description is intended to be valid Essence (and hence should be highlighted as E) or not.

[2019-06-18 15:01] ozgurakgun opened #427 "IDE - translate domain store mode"
Extend translate-solution to support domain stores.

[2019-06-18 15:28] ozgurakgun commented on #383
I think I'll just close the issue, but _please_ reopen if you can reproduce @ott2.

[2019-06-18 15:28] #383 closed

[2019-06-23 19:11] alex-konovalov opened #428 "Recording CP toolkit in Pure"
Please consider recording this software (and other components of the CP toolkit) in Pure following the guidelines from https://code4ref.github.io/ (more specifically for Pure - https://code4ref.github.io/pure.html). This will allow us to have a better picture of all the variety of research software developed in St Andrews and get to know people behind it, and in its turn will help to campaign for

[2019-06-24 15:19] ott2 commented on #383
The first error is now fixed.  The third spec now gives a type error, which is good, but it is a bit mysterious:
[code]

[2019-06-24 16:39] ott2 commented on #395
I'm seeing SR dimension mismatch errors for the first two.  This is with SR bundled with Conjure, as of a few days ago: ``3d21a107b (2019-06-19 11:31:05 +0100)``

[2019-06-25 11:40] ozgurakgun commented on #395
I edited the test case to run each example (with m=3). For me 1 and 3 runs without any problems, but 2 hits the SR bug* you see.

It would be good if you can report please, yes. We should remember to edit this test case to run conjure solve on example 1 as well, once the bug* is fixed.

[*] Unless I am missing something...

[2019-06-25 11:41] ozgurakgun commented on #383
Did you mean to paste the error message?

[2019-06-25 11:41] ozgurakgun commented on #383
Oh you have pasted the error, sorry! It wasn't included in the email.

[2019-06-25 11:57] ozgurakgun commented on #383
The error message is now fixed. Unfortunately, v2.3.0 will produce the mysterious error message. :(

[2019-06-26 17:52] SaadAttieh opened #429 "Slow validate solutions, could be fast parameter parsing is not triggered"
[larger.param.txt](https://github.com/conjure-cp/conjure/files/3331339/larger.param.txt)
[larger.solution.txt](https://github.com/conjure-cp/conjure/files/3331340/larger.solution.txt)
[model.essence.txt](https://github.com/conjure-cp/conjure/files/3331341/model.essence.txt)

[2019-06-27 16:55] SaadAttieh opened #430 "Cannot give record literal in parameter file with fields not in the same order as listed in the domain."
I have test.essence:
[code]

And I give a param file test.param which has a record but with the fields in the wrong order:
[code]

I get:
[code]

[2019-06-28 07:41] ozgurakgun commented on #430
This is annoying, but thankfully it was an easy fix. About to push.

[2019-06-28 07:41] ozgurakgun commented on #430
By the way `s = r` would have done field-wise equality as well.

[2019-06-28 07:43] #430 closed

[2019-06-28 21:46] ott2 commented on #395
Still seeing the same errors with the first two.
[code]

[2019-06-29 07:24] ozgurakgun commented on #395
Oh I see now. I must have made a mistake when I copied the files over. You'll see if you look at the files in the [test directory](https://github.com/conjure-cp/conjure/tree/16c3e4ba99d5fcf227658be9f80e938f8ae6a9ba/tests/custom/issues/395).

I'll fix the test cases. This should be raised with SR regardless.

[2019-06-29 07:29] ozgurakgun commented on #395
Fix now, we are in the same place. The commit above (d8d81ee) fixes the copy/paste error.

[2019-06-29 11:00] ott2 commented on #395
See https://github.com/savilerow/savilerow-main/issues/217

[2019-07-01 12:48] pwn1 commented on #395
Which SR files should I be using? I need a param file to go with 395a and 395b above.

[2019-07-01 13:24] ott2 commented on #395
The param file above is fine (issue-conjure-395.param), it just contains ``letting m be 3``.  The eprime-param file is just:
[code]

[2019-07-01 13:31] pwn1 commented on #395
Well that was easy to diagnose. Indexing a matrix with a matrix is only (currently) implemented when the inner matrix is the only index. I'll see what I can do.

[2019-07-01 14:10] pwn1 commented on #395
Are the two eprime files attached here out of date?
I have done some work on matrices-indexed-by-matrices to implement this case, but actually it seems the error is in the eprime file -- it is indexing a matrix with one integer when the matrix has several dimensions.

[2019-07-01 14:53] tarbaig opened #431 "This should never happen error acp_summe_school_1"
Hi I was told to give a note when this error happens :-)
-----------------------------------------------------------------------
Input source:

letting x,y be domain int(1..10)
find s : set {x,y}
such that x<y

----------------------------------------------------------------------------
conjure: This should never happen, sorry!

However, it did happen, so it must be a bug. Please report it to us!

[2019-07-01 14:54] tarbaig commented on #431
Conjure: The Automated Constraint Modelling Tool
Release version 2.3.0
Repository version 16c3e4ba9 (2019-06-28 11:36:06 +0100)

[2019-07-01 15:19] gadevoi opened #432 "symmetric constraint on relation parameter is not checked"
When given a relation as a parameter, I am unable to add the constraint that the relation should be symmetric.
For instance, running this model for the graph 4-colouring problem
[code]

with the following parameters:
[code]

I get the solution `letting f be function(a --> red, b --> blue)`, even though the input relation `borders` is not symmetric.

[2019-07-01 15:21] librallu opened #433 "This should never happen, sorry! Summer School"
**The error I got:**

Generating models for simple.essence
conjure: This should never happen, sorry!

However, it did happen, so it must be a bug. Please report it to us!

Conjure is actively maintained, we will get back to you as soon as possible.
You can help us by providing a minimal failing example.

Also include the repository version for this build: 8260a3356 (2019-06-30 18:55:08 +0100)

Iss

[2019-07-01 15:32] ozgurakgun opened #434 "Water buckets"
Check the 8-0-0 --> 4-4-0 instance.

[2019-07-01 15:33] ozgurakgun commented on #432
Thanks!

[2019-07-01 15:33] ozgurakgun commented on #431
Terrible error message! Thanks!

[2019-07-01 15:35] ozgurakgun commented on #433
product on sets seems broken. thanks for the report!

[2019-07-01 15:53] JasperNL opened #435 "Savile Row: Missing toFlatzinc method."
This happens with the latest binaries on ubuntu 18.04 LTS through the linux subsystem for windows.

[code]

[2019-07-01 16:11] gadevoi opened #436 "unable to build comprehension with enum elements"
When trying to build a comprehension to list all pairs of elements from an enum, I get the error "Comprehension contains unsupported generators."

Minimal code to get this bug:
[code]
This gives the following error message:
[code]

[2019-07-01 16:13] StephanGocht opened #437 "Buggy Model for csplib-prob008"
The model for [csplib-prob008](https://github.com/conjure-cp/EssenceCatalog/blob/1830b756ec473cbd419afcbf3bb57b5f41224f2b/problems/csplib-prob008/VesselLoading.essence#L63) is buggy. It can happen that two containers have the same class in which case the separation function is undefined.

As I understand the problem the intended constraint is `class(c1) != class(c2)` instead of `c1 != c2`. This wo

[2019-07-01 16:23] SaadAttieh commented on #436
temporary work around is jus inlining the comprehension.
[code]

[2019-07-01 19:16] ozgurakgun commented on #435
/cc @pwn1

[2019-07-02 08:10] #432 closed

[2019-07-02 08:12] ozgurakgun commented on #432
@gadevoi -- this is now fixed. I added your example as a regression test as well.

[2019-07-02 08:20] ozgurakgun commented on #431
Now it says:

[code]

[2019-07-02 08:20] #431 closed

[2019-07-02 08:28] ozgurakgun commented on #433
After a long wait, I can tell you the solution is `{1,2,3}` :)

[2019-07-02 08:28] #433 closed

[2019-07-02 08:49] ozgurakgun commented on #436
This works now.

@SaadAttieh - we had already done the workaround yesterday, thanks.

[2019-07-02 08:49] #436 closed

[2019-07-02 09:00] ozgurakgun commented on #434
Fixed in csplib/csplib#196 - the model had a typo in it :(

[2019-07-02 09:00] #434 closed

[2019-07-02 09:57] ChrisJefferson commented on #437
This sounds sensible. We already have a function which enforces that containers are not on top of each other.

[2019-07-03 07:19] ozgurakgun commented on #437
@ott2 says (over email). I copy it here Andras, to keep the discussion in one place (and visible to @StephanGocht)

The suggested fix is reasonable, but there needs to be a comment noting
that the spec assumes that the separation between two containers of the
same class is always 0.

There is an issue, since "separation" is defined over distinct pairs of
Class elements, so there is never a value f

[2019-07-03 07:21] ozgurakgun commented on #437
To add,

I wonder if it is at all sensible to have separation between two containers of the same class? If so, would it make sense to change the type of separation to:

`separation : function (total) set (maxSize 2) of Class --> int(0..)`

I am not sure if this makes sense, I need to remind myself the problem specification, probably after the summer school though :)

[2019-07-03 08:01] ozgurakgun commented on #435
Just to give a way of reproducing this.

In the EssenceCatalog repo, run

[code]

So minion and glucose finds a solution, gecode/chuffed won't.

[2019-07-05 08:01] gokberkkocak opened #438 "Conjure expection on empty function"
If the given function is empty, which is possible I think, getting an exception.

    Exception: Prelude.minimum: empty list

[bug-report.zip](https://github.com/conjure-cp/conjure/files/3361676/bug-report.zip)

[2019-07-05 08:35] #438 closed

[2019-07-08 20:28] ChrisJefferson opened #439 "Bad output from broken input"
I accidentally wrote this. It's (I think) wrong, but it outputs savile row which then produces a confusing error -- notice I'm asking if the an enum is in a set.

[code]

[2019-07-09 09:34] ott2 commented on #395
Pete, the versions were as above in the comment; SR was the one that Oz shipped and quite recent at the time.  I don't have access right now to a newer environment to test. @ozgurakgun can you perhaps reproduce -- might be more a Conjure glitch than an SR one?

[2019-07-09 09:40] ott2 commented on #437
As mentioned in email, this would require the `separation` function to be defined even for the empty set and singletons.

[2019-07-11 15:34] CodingCellist opened #440 "Using undefined enum-values in function declarations over enums produces "This should never happen""
If you have an `essence` file containing:
[code]
And a `param` file containing:
[code]
(i.e. using a value not specified in the enum), conjure produces a "This should never happen" error instead of saying that the value `E3` is not in `my_enum` or that the declared type of `my_function` and the actual function don't match or similar.

E.g. files: [enum-function-bug.zip](https://github.com/conjure-

[2019-07-12 11:32] pwn1 commented on #435
Fixed.

[2019-07-12 11:33] ozgurakgun commented on #435
Thanks @pwn1!

I should change the SR I bundle with Conjure as well. I'll reopen the issue to track progress on that.

[2019-07-12 12:46] pwn1 commented on #435
That's easy, chuck the jar file into your repository...

[2019-07-12 16:30] SaadAttieh opened #441 "Type error with sum/product on empty matrix/sequence"
I believe the following should have a solution but it shows a type error.  Apologies if this has already been fixed:
[code]

[2019-07-14 11:02] #441 closed

[2019-07-14 11:12] ozgurakgun commented on #440
Thanks! This is indeed ugly.

I think the easy thing to do is to say E3 is not defined. I'll just do that.

[2019-07-15 13:33] ozgurakgun commented on #440
Thanks for reporting @CodingCellist - I think the output is a bit better now. I'll close the issue, please let me know if you have a suggestion for a better message.

[2019-07-15 13:33] #440 closed

[2019-07-15 20:05] ozgurakgun commented on #439
It now says:

[code]

See [file from test](https://github.com/conjure-cp/conjure/blob/73033aabd79836d3ab659522967b5cb82a57ec62/tests/custom/issues/439/stderr.expected).

How do you like it?

[2019-07-15 20:08] #435 closed

[2019-07-17 11:47] ott2 commented on #395
@ozgurakgun @pwn1 while I recompile my toolchain using a recent clang (this will take some days) so that I can natively compile conjure again, could either of you quickly check whether the latest conjure/SR combo now deals with these cases correctly?

[2019-07-17 14:24] semihalf-czekaj-maciej opened #442 "Type conversion from list comprehension to Set aborts model generation"
The following code:

[code]
ends up in fatal error:

[code]

Few hints: simplifying the expression from `toSet([(a*x) % m | x <- S])` to `toSet([x % m | x <- S])` (removing multiplication in list expression) removes bug.
Replacing set with  multiset also works well (no bug).

[2019-07-22 12:12] SaadAttieh opened #443 "Cannot index an empty matrix"
[code]

Conjure output:
[code]

[2019-07-22 12:42] pwn1 commented on #443
Savile Row can't parse those question marks.

[2019-07-22 15:19] SaadAttieh commented on #443
Yeah, I did think that wasn't eprime syntax. :P
On 22 Jul 2019, at 1:42 pm, Peter Nightingale <notifications@github.com> wrote:

[2019-07-22 21:22] SaadAttieh opened #444 "```"

[2019-07-22 21:23] #444 closed

[2019-07-22 21:25] SaadAttieh opened #445 "type error when min of empty set under catch undef"
[code]

output:
[code]

[2019-07-23 11:39] ott2 commented on #445
Isn't this just the usual issue about empty set not having a type?  It can be coerced to have a type via something by giving it a provenance something like `{0} intersect {1}`, and perhaps also using the backtick notation that I never remember?

[2019-07-23 11:48] SaadAttieh commented on #445
Conjure should be able to deduce the inner type from the context it was used in. For example it works fine if you write min of empty set when not under the catch undef. I was extending Athanor to do the same and added this to Athanor's tests but discovered that for some reason (assuming something simple), it does not work under the catch undef.

[2019-07-23 20:14] ozgurakgun commented on #445
I actually never intended catchUndef to be used in the input, but didn't
disallow it either. This should be easy to fix, but it will have to wait
until next week when I am back.

[2019-07-23 22:04] SaadAttieh commented on #445
Cheers! Could we make catchUndef officially be part of Essence input? I've actually needed it in some of my specs and so Athanor actually supports it. Well tbh the only place I use it is when needing to catch min/mmax of a list which should be allowed to be empty.
On 23 Jul 2019, at 9:14 pm, Özgür Akgün <notifications@github.com> wrote:

[2019-07-30 07:55] ott2 commented on #445
Agree with Saad, also `catchUndef` makes for interesting semantics. :-)

[2019-08-16 15:41] ndangtt opened #446 "checking attributes for parameters: surjective sequence"
I have the following model:
[code]
and an Essence param file:
[code]
s is not a surjective sequence, but `conjure solve model.esssence inst.param` doesn't print out any error message.

[2019-08-28 10:57] SaadAttieh opened #447 "powers is broken"
Two different models, two different reactions:

[code]

[code]

or more plainly:
[code]

This one does not terminate after a minute of running.  Stuck on generating models.

[2019-08-28 11:01] SaadAttieh commented on #447
apologies, ignore first error, typo in model. should be `subsetEq`.  Second one still stands though.

[2019-09-06 16:18] SaadAttieh opened #448 "Joan says, functions inside records are fudged"
Function inside records don't seem to be working.

We tried four different things.  First we faced issues with assigning the entire record.  We then had issues defining an empty function (even with the type explicitly declared), finally it seems like function equality is broken when inside records.  Attempts below with comments.

We started with:

[code]
[code]

We also tryed directly assigning th

[2019-09-08 18:57] ndangtt opened #449 "parameter-generator: updates on relation's cardinality"
There are a number of things I'd like to propose for changes, regarding `conjure parameter-generator` for relation's cardinality
- `cardMiddle` is still set as MAXINT at the moment, we'd want to update it as MAXINT*MAXINT
- perhaps `cardDelta` can be set as MAXINT/2 instead of 3. Hopefully irace will be able to narrow it down when needed. The same changes can be applied to other delta variables.
-

[2019-09-10 12:13] #448 closed

[2019-09-10 12:14] ozgurakgun commented on #448
This works now, please see the commit above which also has regression test cases in it.

Unfortunately, this is one of those cases where you have to give the type of the empty function though. We could probably improve Conjure's type inference, but that'll have to wait for another day.

[2019-09-10 13:07] ozgurakgun commented on #443
@pwn1 - SR seems to assume that `[]` is the same as `([] : matrix indexed by [int()] of int)`

So this is UNSAT (with or without the type annotation)

[code]

And this has 1 solution with the type annotation, and it is UNSAT without

[code]

[2019-09-10 14:17] pwn1 commented on #443
OK, that should be documented I suppose.

[2019-09-11 22:08] alex-konovalov commented on #428
@ozgurakgun @ChrisJefferson any thoughts about this? I am giving a talk about #Code4REF next week, would be useful to get several more submissions.

[2019-09-12 14:11] ndangtt opened #450 "Missing comprehension elements' indetifier"
[example.zip](https://github.com/conjure-cp/conjure/files/3605789/example.zip)

When I run `conjure solve` for the attached model and Essence param file, I get the following error messages:
[code]
The reason seems to be that in the generated .eprime model, some of the list comprehension identifiers `instance` are missing. The corresponding lines in the Essence model are lines 46-47:
[code]

[2019-09-17 13:16] dstrueber opened #451 "Dealing with floats"
I have a couple of problems I want to specify with Conjure. Several of them involve floats, either as variable types, or in the context of floating-point division in objective functions.

I noticed that Essence only supports integers. Is there a particular reason for that?

Are there some known workarounds for this issue, like "specification patterns" - either for variables or to implement floatin

[2019-09-18 12:06] SaadAttieh opened #452 "Conjure validate solution, does not seem to terminate when given a single int with large domain."
On my computer this did not terminate after a minute.  ON my Azure testing suite, it claims conjure said the solution was incorrect but I believe it is correct.  Files attached.

the spec is:
[code]

solution:
[code]

To be clear, this is the output of athanor, I don't think this large domain will make it through the traditional solver pipeline.
[intLargeDomain.essence.txt](https://github.com/conj

[2019-09-18 12:26] SaadAttieh commented on #452
aha, there is some unwanted recursion here:

[code]
Prints after 5-6 minutes.

[2019-09-29 09:49] ndangtt opened #453 "`given` statement with enumSize"
I have the following Essence model and param file, and get an error with `conjure solve`:

[code]

[code]

Error messages:

[code]

[2019-09-29 12:15] #453 closed

[2019-09-29 12:16] ozgurakgun commented on #453
This was a weird bug - I am surprised we never ran into it before! Thanks for reporting, should be fixed now.

[2019-09-29 13:33] #452 closed

[2019-09-29 13:42] ozgurakgun commented on #451
Dear @dstrueber - apologies for our very slow response!

Essence doesn't support floating-point numbers. There isn't really a deep reason for this other than nobody bothering to add support for them so far. Discrete satisfaction/optimisation problems are our main research interest.

The main method for handling floating-point numbers in a system like ours would be discretisation. How much success

[2019-09-29 15:50] SaadAttieh opened #454 "More bugs with `catchUndef` and `min`"
There is a similar issue that talks about catchUndef of a min of an empty set not passing through the type checker.  This is a bit different, this passes the type checker and even works correctly with validate solution, but conjure produces the wrong model.  I realise that `catchUndef` was not originally intended for user input but I have, a few times, come across a situation where it would be nic

[2019-09-29 17:07] ozgurakgun commented on #454
I think it actually does the right thing here, doesn't it?

The list is empty, hence the min is undefined, hence the constraint is undefined. Am I wrong?

[2019-09-29 17:12] SaadAttieh commented on #454
My apologies, I forgot to put the catchUndef.
[code]

[2019-09-29 17:13] SaadAttieh commented on #454
output:
[code]

[2019-09-29 17:33] ozgurakgun commented on #454
Now catchUndef doesn't think -1 is a constant.

`catchUndef must have a constant as the second argument: catchUndef(conjure_aux1, (-1))`

@pwn1 ?

[2019-09-29 17:35] ozgurakgun commented on #454
Sorry I didn't say it there, but this message is coming from SR.

[2019-09-29 17:47] SaadAttieh commented on #454
Cheers Oz.   That’s one thing solved.  Now I believe that SR does understand that 0 is a constant.  So if I edit the input essence file to use 0 in the catchUndef, I get no solutions.
So yes, using 0 in the catchUndef along with fixing an error I made
`b > 5`
should be
`b > 4`

We get one solution, the correct solution :).

I think this is because

[2019-09-29 17:51] ozgurakgun commented on #454
The following seems to solve the SR issue. I'll leave it to @pwn1 to decide if this should go in or not.

[code]

[2019-09-29 17:56] ozgurakgun commented on #454
Actually I pushed this: https://github.com/savilerow/savilerow-main/commit/41dfde19d1a526b817cce68f3ca6afb638cd99ad

@pwn1 please feel free to revert!

[2019-09-29 18:42] pwn1 commented on #454
That breaks assumptions in SR. In particular if isConstant returns true, then it is possible to call getValue. Instead can you change the typecheck method of CatchUndef to check something like this:
getChild(1).getCategory()==ASTNode.Constant
instead of:
getChild(1).isConstant()
?

[2019-09-29 18:52] ozgurakgun commented on #454
Ooooh apologies for pushing it without getting input from you in that case!
I am happy to do that instead if you like.

[2019-09-29 19:08] pwn1 commented on #454
That's alright, I'm being really useless at maintaining SR right now so fine for you to have a go.
I have done it.

[2019-09-29 19:09] pwn1 commented on #454
I didn't test it... at all... let me know if it doesn't work!

[2019-09-30 10:13] ozgurakgun commented on #454
@SaadAttieh I am closing this now, please reopen if there is a problem!

[2019-09-30 10:13] #454 closed

[2019-09-30 10:14] #439 closed

[2019-10-14 15:11] dstrueber commented on #451
We use floating point division in our objective function. The data and decisions in our case are discrete.

We now tried to circumvent the issue with floating-point division by transforming the objective function. Our original objective function was a sum over a fraction. Our new, transformed objective  function is a sum over a term that includes a product with many components. Unfortunately, we g

[2019-10-14 16:48] SaadAttieh commented on #451
Hi,

Not a Conjure developer but some information that might help both the issuer and developer:

I had a quick look, it seems like the main issue is with the line:
`product([ |preImage(fm,cj)|*|preImage(fa,cj)|*|preImage(fm,cj)|*(|preImage(fm,cj)|-1)   | cj : ClassDomain, ci != cj ])`
though you most likely already knew this.
I tested this by removing the line and all seems to be okay.  Interesti

[2019-10-16 13:45] dstrueber commented on #451
Many thanks for your detailed and insightful response, SaadAttieh!

I followed your advice and found that I can get a reduced version of the problem to run, where the objective function only contains the problematic product, and the bounds for f's values are set to int(0..24). If I use a slightly larger upper bound of 96, I run into the same minion error message you reported for the unbounded case

[2019-10-16 14:37] dstrueber commented on #451
Thanks, @ozgurakgun. For the given version of the problem, I don't have the optimum, but a 0 is rather likely.

It is derived from a version of the problem with an even more tricky objective function, for which I probably know the global maximum. The objective function in that one has some dedicated handling (if-then-else style) of components whose value computes to zero. I didn't fully formulate

[2019-10-16 19:30] ozgurakgun commented on #451
Actually not I didn't have to be more agressive at all. @SaadAttieh's solutions seems to work.

I get the following, which seems quite reasonable.

[code]

And this is the modified model that I used.

[code]

[2019-10-19 23:39] ozgurakgun commented on #449
@ndangtt can you please test this and reopen the issue if I made a mistake or missed something? Thanks.

[2019-10-20 20:31] ndangtt commented on #449
I would set `cardDelta` to MAXINT/2 instead. Currently it is set as MAXINT*MAXINT/2, which might be probably too large.

[2019-10-21 08:40] ozgurakgun commented on #449
I thought the idea was, say in a function's range, having anything smaller than the full range for delta would mean this is necessarily incomplete.

[2019-10-21 10:02] ozgurakgun opened #455 "Add tests for lex optimisation"
SR now supports this as well, we should have regression tests in Conjure.

[2019-10-21 10:33] ndangtt commented on #449
That is a good point!

In this case this is for cardinality, so if the relation is standing alone, it should be fine having `cardDelta` set to MAXINT/2.

However, in the case where we have nested structure, like `set of relation of int(1..m)*int(1..n)`, then restricting the `cardDelta` of the inner relation to MAXINT/2 would indeed make the outer-set incomplete.

So yes I agree with you about havi

[2019-10-21 10:33] #449 closed

[2019-10-21 10:36] ozgurakgun commented on #449
irace just needs to get better at sampling these large domains :)

[2019-10-23 15:56] ott2 opened #456 "regression: <=lex no longer can compare matrix and list"
As of late 2018, conjure supported specs of the form:

[code]

(this finds bit strings representing numbers that can't be increased by considering their bits in reverse order).  This worked fine in 112ccfcec (2018-07-30), and was accepted by 4ff0e4938 (2017-10-23) but gave the wrong results.  However, now 0f685432d (2019-10-07) gives a "should never happen"

[code]

If this is as intended, some ad

[2019-10-23 16:03] ozgurakgun commented on #456
Thanks @ott2 - I think this is because it's a boolean list. A recent commit seems to have broken it. Definitely a regression, will look at fixing it.

[2019-10-23 16:42] ott2 commented on #456
Note that the same occurs for integer lists (I'm trying to generate latin squares); the above is meant as a small yet still interesting example.

[2019-10-23 16:50] ott2 commented on #456
A somewhat related issue is that equality cannot be taken between a matrix and a list:
[code]
(this is meant to find Boolean palindromes) yields:
[code]

However, unlike the case with ``<=lex`` I don't have any evidence that this ever worked, so this isn't obviously a regression.

[2019-10-24 11:31] ChrisJefferson opened #457 "Conjure allows two find statements with the same name"
Given something like:

[code]

Conjure uses the second to generate the model, and then tries to use the first when reading the model back in.

[2019-10-24 11:32] ChrisJefferson opened #458 "letting crops be new type enum { 🥔 , 🥕 , 🥒 , 🥦 , 🍅 , 🍆 , 🍏 }"
The following patch lets conjure read unicode, but the outputted JSON is invalid:

[code]

[2019-10-24 14:09] jfdm2 opened #459 ""This should never happen" bug about int domain construction"
When you pass a non-int set to the constructor:
[code]

[2019-10-24 14:18] jfdm2 opened #460 "Double definition not detected"
If you have
[code]
with *.param
[code]
the first ``given n`` is ignored. Maybe we want it because of param refinement in several steps, but should be documented and it would be useful to output a warning, just in case it wasn't redefined on purpose.

If you have
[code]
it ignores first ``letting n`` and so gives ``a=2`` as answer. A warning or error message should be outputed.

[2019-10-24 14:19] ozgurakgun commented on #460
Thanks. Just to note, this is a duplicate of #457.

[2019-10-24 14:22] jfdm2 commented on #460
Oh right, I should have checked the other issues first :$
Well, it shows it also happens for given and letting :p

[2019-10-24 14:34] ozgurakgun commented on #374
@cls00 and @JoanEspasa want this as well, we will remove the parallel one and implement a concatenation one.

[2019-10-24 21:22] #458 closed

[2019-10-24 21:23] ozgurakgun commented on #458
Carrot it is!

[code]

[2019-10-24 21:36] ChrisJefferson opened #461 "Allow in (or :?) for all quantification"
At the moment we write forAll x : T, for types, but forAll x in S, for sets. I think it would be easier if we could use 'in' for both.

The other option we be to push all tutorials towards matrix comprehension?

[2019-10-24 21:37] ozgurakgun commented on #461
Same problem with comprehensions. `<-` works for expressions, `:` for domains there.

[2019-10-24 21:37] pwn1 commented on #458
That is just taking the 🍪

[2019-10-24 21:52] ChrisJefferson commented on #458
Next I'll be asking for it in variable names :)

[2019-10-24 22:03] ozgurakgun commented on #458
That would be a bizarre request since we already have it :)

[2019-10-28 09:24] fraser-dunlop commented on #456
@ott2 Going back to your first example.

[code]

This works for me.

@ozgurakgun  I think the problem here is less of a regression and more of an undocumented change in semantics (my bad - this should be documented somewhere).

The failing rule here is a partial function that assumes that we have arrived at a <=lex via reduction from .<= operator.

To resolve this we need to deprecate something. A

[2019-10-28 09:26] fraser-dunlop commented on #456
Re: deprecating <lex and <=lex. I suggest we remove them from the input language and output a helpful error message that tells the user to use .< or .<=. Either that or rewrite from <lex to .< as a preprocessing step.

[2019-10-28 11:09] ozgurakgun commented on #456
Let's talk about this. I am not confident in making .< surface language. I think eventually we want < to work for everything and then we can deprecate <lex. `.<` and `~<` were never intended to be user-facing.

We should make sure <lex still works though, since otherwise old models will break unnecessarily.

[2019-10-28 13:19] SaadAttieh commented on #456
Side point, not sure if I should make it a separate issue.  But I proposed a refinement for equality between list comprehension with conditions and a variable sized sequence.  It wasn’t simple though.  What are your thoughts?

[2019-10-28 13:36] SaadAttieh commented on #456
I’ll paste it here, as it might be lost on slack.

So we currently don't have equality between sequences and list comprehensions in Essence.  I would like to propose a refinement:
So we start with the expression to refine:
find s : sequence ...
such that s = [constraint(v) | v <- generator, condition(v)]
I would do this in two steps.  First I would add something like an enumerate function in Essen

[2019-10-28 15:54] ozgurakgun opened #462 "Add code coverage to Azure"

[2019-10-29 15:42] ozgurakgun opened #463 "conjure translate-parameter to be able to generate FZN syntax data files"
This was requested by some people at CP2019 in the context of our instance generation work.

[2019-10-29 15:43] ozgurakgun opened #464 "for each given, we classify it with one of size or not"

[2019-10-29 15:44] ozgurakgun opened #465 "Generate repairing model for the tuning"
A subset of the where statements can be converted to irace forbidden statements. Waiting for input from @ndangtt on this.

[2019-11-04 11:43] ozgurakgun commented on #451
Hi @dstrueber - I am just wondering whether you had a chance to try this?

[2019-11-04 11:45] SaadAttieh commented on #451
Just took a peak, the only difference I can see is that I used a partial function whilst you used a total function mapping values to 0 where necessary.  Perhaps this produced a better refinement?

[2019-11-04 11:46] ozgurakgun commented on #451
I don't think there is a significant difference between your model and mine Saad. Except mine was a complete model so I assumed it may be easier to check :)

[2019-11-05 14:40] ozgurakgun commented on #464
Hi @ndangtt -- where should these end up?

There are two places, the Essence file and the irace file. I guess we just want to attach this to one of them (or alternatively we can introduce a 3rd file?)

[code]

[2019-11-05 14:50] ndangtt commented on #464
We could put that in the irace param file I suppose. Parameters controling size will have type ` i,log `, while the rest have type ` i `.

Later on we can add some additional sampling strategies besides `log`. The choice between `log` and other strategies can be specified as a flag for `conjure parameter-generator`.

Would those make sense to you? :)

[2019-11-05 14:52] ozgurakgun commented on #464
Yes, very sensible. Coming up next :)

[2019-11-05 15:39] #464 closed

[2019-11-06 12:06] ott2 commented on #399
Have copy-edited; looks good.  The docsday branch should perhaps be merged to master now, as it has settled down?

[2019-11-06 12:16] ott2 commented on #461
It would seem to make sense to treat ``x in T`` as a synonym for ``x : T`` when ``T`` is a type, and ``[f(x) | x <- D]`` as a synomym for ``[f(x) | x : D]`` when ``D`` is a domain?

[2019-11-06 13:59] ott2 commented on #456
Marking up Saad's email response above:

So we currently don't have equality between sequences and list comprehensions in Essence.  I would like to propose a refinement:
So we start with the expression to refine:
[code]

I would do this in two steps.  First I would add something like an enumerate function in Essence as I think it might generally be useful.
so
[code]
should return a list of tuples,

[2019-11-13 07:42] #462 closed

[2019-11-15 22:05] #459 closed

[2019-11-17 23:06] ozgurakgun opened #469 "CPLEX via LIBRARY_PATH"
We currently have to pass a library location to Minizinc (via SR) which is not a great user experience. We should be able to read this from an environment var.

[2019-11-19 14:12] ndangtt opened #470 "parameter-generator: issue with letting and where statements"
I encounter an issue with `parameter-generator`: the domain created by a `letting` statement is not rewritten in a generator spec. Please find below a minimal example:

[code]
[code]
Error message when translating generator spec:
[code]

[2019-11-19 14:26] #470 closed

[2019-11-19 15:33] #399 closed

[2019-11-23 17:46] ndangtt opened #471 "`parameter-generator`: letting param is missing in generator spec"
In the model attached, when I do `conjure parameter-generator`, the `n_boats` param is missing in the generator spec.

That'd also be great if you could merge the fix into `conjuremzn` branch :)

Thanks!

[013-ProgressiveParty-mod01.essence.txt](https://github.com/conjure-cp/conjure/files/3882766/013-ProgressiveParty-mod01.essence.txt)

[2019-11-25 12:33] #471 closed

[2019-11-27 10:46] ott2 commented on #456
It seems #466 is still not merged. Unfortunately this means symmetry breaking in several old models no longer works, and a new model I've been developing for latin squares also does not work. I can't make any progress on this style of modelling at all because of this, and this is blocking multiple things I'm trying to work on.

Can I ask for either `<lex` to be fixed again by reverting whatever br

[2019-11-27 11:44] ozgurakgun commented on #456
I will look into fixing this later today. Can you (could be in a private
email) send me pointers to any old models that are broken by this? I can
use them as test cases.

On Wed, 27 Nov 2019 at 10:46, András Salamon <notifications@github.com>
wrote:

--
Özgür Akgün

[2019-12-02 13:17] ott2 commented on #456
Here was an Essence spec for enumerating non-isomorphic Hamiltonian circuits (I think this was the basis for a nugget), with `letting n be 2` being the single entry in the associated parameter file.  This used to work last year and took 6s per solution for `letting n be 8`.

[code]

[2019-12-17 10:59] #469 closed

[2019-12-17 10:59] ozgurakgun commented on #469
done.

[2019-12-27 11:34] ndangtt opened #473 "issue with letting and set"
(apology for the uninformative issue's title, please feel free to change it as you wish!)

I have the following model and param files:

[code]

[code]

`conjure solve model.essence test.param` gives an error message `Comprehension contains unsupported generators.`

But if I change `model.essence` to:
[code]

Then it's fine. I'm wondering if this might be a bug, or if my first model's syntax is inc

[2019-12-27 16:44] ozgurakgun commented on #473
walks like a bug, talks like a bug, must be a bug :)

[2020-01-09 10:11] ott2 commented on #473
The two should not differ.  However, I would have expected `given a new type enum` to be flagged as an error, should it not be `given a : new type enum` instead?

[2020-01-09 11:47] ndangtt commented on #473
@ott2: `given a new type enum` works for me. I'm not sure why `:` is not needed though. I actually just followed examples on CSPLib to define `new type enum`, such as the following one:
http://www.csplib.org/Problems/prob036/models/FixedLengthErrorCorrectingCodes.essence.html

[2020-01-09 14:59] SaadAttieh commented on #473
haha I laugh because I get confused with this all the time. I think that in this case, the `:` should not be there.  `:` denotes domains whilst this is a type?  Or actually I guess it is a domain?
…

Hmmm
...

[2020-03-03 10:40] fraser-dunlop opened #475 "Machine generated name issue on Azure?"
Something is up with exhaustive.mildly_interesting.cyclic_graph. It is failing on azure linux and mac with a what looks like a machine variable numbering issue. It is a long running test which passes locally for me. I think it will time out on travis. Any ideas on the cause @ozgurakgun ?

[code]

[2020-03-03 10:48] fraser-dunlop commented on #475
Looks like the issue is actually that we are generating allDiff instead of an equivalent expected expression. That is pushing off the numbering and triggering the rest of the errors.

[code]

[2020-03-03 10:49] fraser-dunlop commented on #475
What is this behaviour dependent on? I get the non allDiff version on my laptop.

[2020-03-03 10:53] fraser-dunlop commented on #475
Suspect this commit a8d91d84eb19fbc8a8170b07f731d4cf5d5667ef

[2020-03-03 11:13] fraser-dunlop commented on #475
Turns out this issue does occur locally for me. There is no magic...

[2020-03-26 10:20] JoanEspasa opened #478 "Unparseable input for the new json output format"
Good morning!

Thanks for adding the simple JSON output, it helps quite a lot!. However, I think I found a rather simple bug. I try to re-parse a solution given by conjure using

`conjure pretty --output-format=json sol.solution`

and it errors saying:
[code]

I attach the solution here. I also updated conjure quite recently:
[code]
[sol.txt](https://github.com/conjure-cp/conjure/files/4386510/sol

[2020-03-26 11:22] #478 closed

[2020-03-26 11:34] ozgurakgun commented on #478
Can you please test this @JoanEspasa?

[2020-03-26 16:06] JoanEspasa commented on #478
Now its working fine, thanks @ozgurakgun :)

[2020-04-11 20:02] ndangtt opened #479 ""parameter-generator" for record types: Undefined reference"
Hello,

When I do
`conjure parameter-generator model.essence --essence-out generator.essence`
and then
`conjure modelling -ac generator.essence`

I get the following error messages:

[code]
I guess it was because in `generator.essence`, function names were missing inside `find init:` (lines 37-40)
Could you please help to check it?

Thank you!

[generator.essence.txt](https://github.com/conjure-cp

[2020-04-13 16:14] ndangtt commented on #479
Hi Oz,

I created a minimal example, with only 4 params instead. Hopefully it'll be easier for you to look at :)

Please find in attachment the problem Essence spec (model.essence), the created generator spec with bug (gen.essence), and the expected generator spec (gen-correct.essence)

Thank you!

[gen.essence.txt](https://github.com/conjure-cp/conjure/files/4470400/gen.essence.txt)
[gen-correct.

[2020-04-13 16:50] ndangtt opened #480 "parameter-generator for boolean functions: a new rewriting rule with percentages"
Hi Oz,

With the current rewriting rules for `function`, there is nothing created in the generator spec for the range of a `boolean function`, so the tuning can't control the range of variables of those types. We'd like to propose a rewriting rules for this type of variable using percentage, where we control the percentage of true values in the function. Below is an example:

`given a: function in

[2020-04-13 19:39] ozgurakgun commented on #480
Should percentage be log or linear?

[2020-04-13 20:08] ozgurakgun commented on #480
Also, do we really want it to be `=`? What if the function was from 7 values? i.e. `int(1..7) --> bool`

Why don't we make this an absolute number? Why a percentage?

[2020-04-13 20:08] ozgurakgun commented on #480
Or a range I suppose...

[2020-04-13 20:09] #479 closed

[2020-04-14 11:22] ndangtt commented on #480
Wow, thank you so much for doing those so quickly Oz!! :D

1. You're right, a range of absolute values can be an alternative indeed. I decided to go for a single percentage value for our first set of experiments because it's simpler for the current tuning setup:
- only one parameter to tune
- we don't have to worry about sampling min/max such that min<=max
- when we tune (the range of) the number

[2020-04-14 12:15] ott2 commented on #480
One problem with percentage or range or even a single number as a cardinality constraint, in general: adding such constraints can make the resulting generator instance *extremely* difficult to solve.  In particular, I think this can make the instance \#P-hard, which is nearly as difficult as the general planning problem (which is PSPACE-hard).

[2020-04-14 13:33] ozgurakgun commented on #480
We often don't have any other constraints on a function like this. So we would just be telling to solver to set n of them to true, right? I don't expect that to cause any difficulty (again, assuming no other non-trivial constraints here).

[2020-04-14 14:15] ndangtt commented on #480
Yah I agree with Oz. The ones created by the rewriting rules are generally easy to solve.
The concern is true when we start adding complicated `where` statements in the problem's Essence spec. For planning we do have quite a few `where` statements, we'll see if they make the generator harder to solve in that case :)

[2020-04-22 15:55] ndangtt opened #481 "`parameter-generator`: conjure hangs when a `where` statement is added"
Hi Oz,

When I run
[code]
for the attached mode, `conjure` seems to hang (I let it run ~ 30mins and it's still running). But when I comment out the `where` statement on the last line of `model.essence`, the command finishes within minutes.

Sorry for the relatively large example model. It seems that if I reduce the amount of elements in the `where` statement to only a few of them, then `conjure` c

[2020-04-23 14:10] ndangtt opened #482 "`parameter-generator`: upper bound of cardinality for partial function"
Hi Oz,

I noticed that when we have a partial function like this:
[code]
The range of cardinality params created by `conjure parameter-generator` are up to MAXINT (as listed below). Would that make sense and be simple enough to have their ranges as up to the maximum size given in the problem spec instead?
[code]
I understand that if `f` is defined as `given m: int(1..); given f: function int(1..m)

[2020-04-26 10:51] SaadAttieh opened #484 "Conjure generating many redundant constraints for CVRP"
When modelling CVRP (attached), I noticed the following redundant  constraints.  From what I can tell from the minion output, the second one is eliminated, the first one is not.  These could be potentially quite expensive as it looks like we generate \(n^2\) of these constraints, n=numberLocations.

It amounts to basically,
[code]
The second one, which I think is caught,

[code]

 I would have bee

[2020-04-26 10:58] SaadAttieh commented on #484
[cvrp.essence.txt](https://github.com/conjure-cp/conjure/files/4535157/cvrp.essence.txt)

[2020-04-26 16:08] ndangtt commented on #465
Hi Oz!

Sorry it took so longgg to have it! Here we go! :D

In this first proposal, we focus on partial function only. It should be extended to other types later on when this one is tested successfully. Here I assume that we already replace middle/delta as min/max ([pull request](https://github.com/conjure-cp/conjure/pull/483)).

What we need is a `repair.essence` file generated automatically by `

[2020-04-26 16:14] ott2 commented on #465
Although I have reservations about whether we can always solve the repair in reasonable time (these kinds of problems can be very hard, and if we are assuming that repair is quick and easy when it is not, then it might be better just giving up on the current parameter vector and trying another one), I do support the change to min/max.  It made sense to use mid/delta but it is becoming more and mor

[2020-04-26 16:22] ndangtt commented on #465
@ott2: regarding the difficulty of the repairing problem, the constraints described above seem all trivial to solve to me. But it's just simply my guess, as I don't have experience with minion's solving procedure. If we do find that they are difficult, or if the repairing instances are too large to go through the pipeline (which I don't really expect to happen, as the repairing model is pretty fla

[2020-04-26 22:37] ozgurakgun commented on #481
This is still not great, but it finishes in ~6 minutes for me now. I'll close the issue. Please reopen (or open new issues) when there are other cases like this one.

[2020-04-27 10:10] ndangtt commented on #481
That's good enough I think! Thanks very much for fixing it Oz! :D

[2020-04-27 14:50] ozgurakgun commented on #482
Can you please check that this does what you wanted @ndangtt? See the commit that closes this issue to see the test case.

https://github.com/conjure-cp/conjure/commit/a0a9c7d5fe795d5d5ef0a6ddb4a3bdec31f2c3fa

[2020-04-27 14:53] ndangtt commented on #482
Yes it is exactly what we expected. Thank you very much Oz! :D

[2020-04-27 16:41] #473 closed

[2020-04-27 16:42] ozgurakgun commented on #473
This is fixed, but I expect other similar issues. Please report if you come across any. I really should tidy the handling of lettings at some point.

[2020-04-27 17:12] ndangtt commented on #482
My apology, now I realised that the example I posted was actually not good :(

We would want upper bound of cardinality to be maxDomain-minDomain+1.
Example:
[code]
Expected generator spec
[code]

Could you please help to check it again?

Thank you!!!
Nguyen

[2020-04-27 17:20] ozgurakgun commented on #482
I suspect you mean 16 :)

[2020-04-27 17:21] #482 closed

[2020-04-27 17:22] ndangtt commented on #482
Oops, indeed! Thank you for correcting and fixing it!! :D

[2020-04-27 17:32] ozgurakgun commented on #484
Not doubting you at all, but I am struggling to find these in the output from a quick look. I attach the E' I get. Can you tell me where they are please?

Once we find them, it would help if we comment out some constraints (from the Essence) that are irrelevant for this problem so the problematic ones in the output are easier to spot and deal with.

[model000001.eprime.txt](https://github.com/conj

[2020-04-27 17:40] ozgurakgun commented on #475
is this resolved?

[2020-04-28 19:21] ndangtt commented on #481
Hi Oz!

We have another model that has a similar issue. It is a classical planning problem called *barman*.
When I do
[code]
conjure runs for 30 mins and exited with error messages:
[code]
When I remove the `where` statements, the command finishes in about 6 mins.

Could you please help to have a look at it?

Thank you!

[barman.essence.txt](https://github.com/conjure-cp/conjure/files/4548027/barm

[2020-04-29 12:18] SaadAttieh commented on #484
Hmm, must have been unlucky to land on a bad commit (see below).  Was only a couple weeks back but appears that the model output has changed dramatically since then.
Sorry to trouble you.
[code]

[2020-04-29 12:45] ndangtt opened #485 "`conjure parameter-generator`: decision variable appears in domain"
Hi Oz,

Joan and I came up with a case where `conjure parameter-generator` produce decision variables in a domain, which then causes error when doing `conjure modelling` on the generator spec created. Below is a minimal example. Could you please help to have a look? :D

[code]
[code]

[model.essence.txt](https://github.com/conjure-cp/conjure/files/4551701/model.essence.txt)
[gen.essence.txt](https

[2020-04-30 21:22] ozgurakgun commented on #484
Grande - please reopen if you notice something like this again. Thanks for reporting.

[2020-05-01 10:09] ozgurakgun commented on #481
Locally:

[code]

I'll push once the tests finish running.

[2020-05-01 10:23] ndangtt commented on #481
That's awesome! Thanks very much Oz!

[2020-05-02 06:37] #481 closed

[2020-05-08 11:53] ozgurakgun commented on #465
Example 4: I don't think this one is necessary since we are minimising the difference.

[2020-05-08 13:02] ndangtt commented on #465
@ozgurakgun: you're right! We don't need it indeed! :)

[2020-05-08 13:25] ozgurakgun commented on #465
here it is! let me know if anything is broken please.

[2020-05-08 19:43] ndangtt commented on #465
Thanks very much for the implementation, Oz!

I currently get three issues. Could you please help to have a look? :D

#### Issue 1: incorrect variable names in some of the generated repairing constraints, as listed below for example 3.
[code]
[model.essence.txt](https://github.com/conjure-cp/conjure/files/4600449/model.essence.txt)
[model-instanceRepair.essence.txt](https://github.com/conjure-cp/c

[2020-05-09 12:19] #484 closed

[2020-05-10 14:51] ndangtt commented on #465
Hi Oz,

Please find below some of the issues I still have:
#### testcase-03:
[code]
[code]
The reason why I'd like to have `repaired_m1_min` instead of `m1_min` is because it provides more flexibility for the repairing. Consider this case, for example: `f_defined_min` and `f_cardMin` are already good, we'd only want to repair `m1_min` to satisfy the constraints.

#### testcase-06: `defined_min` an

[2020-05-11 12:11] ndangtt opened #486 "conjure modelling issue: variable name is used without defined"
(I don't know what'd be the best title for this issue, so please feel free to change the title as you see fit!)

I have this model:
[code]
When I do `conjure solve model.essence`, I get error messages:
[code]
This is because the generated `.eprime` model has a line where a variable name `var_s` is used without being defined:
[code]
If I disable either of the two constraints in the original essence

[2020-05-11 19:29] ozgurakgun commented on #465
ball in your court again @ndangtt :)

I won't bother closing the issue this time, feel free to close if you are happy with everything.

[2020-05-11 21:08] ozgurakgun commented on #486
This is bizarre! `conjure solve -af` works, yet `conjure solve -ac` (the default) blows up. And there are no decisions to be made, so both of them _should_ follow the same path.

[2020-05-12 07:05] ozgurakgun commented on #486
Can you test please @ndangtt?

[2020-05-12 08:17] ndangtt commented on #486
Yay, it works now! Thank you Oz! I'm gonna close the issue now :D

[2020-05-12 08:17] #486 closed

[2020-05-12 11:15] ndangtt commented on #480
Since we have the repairing now, having percentage as a range is probably a good idea :D
[code]
[code]
[code]

[2020-05-12 20:23] ndangtt commented on #465
It passes all the tests so far, so I'm gonna close the issue :)

[2020-05-12 20:23] #465 closed

[2020-05-12 20:46] #485 closed

[2020-05-12 20:47] #480 closed

[2020-05-12 20:48] ozgurakgun commented on #465
Oooooh - I was developing an emotional connection with this issue :)

Maybe open a new issue so I can stop thinking about the number 465 if/when new issues arise?

[2020-05-12 20:50] ndangtt commented on #465
Haha yes I will. Let's leave this one rest in peace :P

[2020-06-04 10:30] ndangtt opened #487 ""conjure modelling -as" takes very long time"
Hi Oz,

I'm using `conjure modelling -as` for our classical planning generators, and it seems to take very long time compared to the `-ac` option. I attach here two examples and the time they take.
- barman-gen.essence: `-as` takes one hour, `-ac` takes 5 mins
- city-car-gen.essence: `-as` takes 40 mins, `-ac` takes 7 mins

I also attach here the generated .eprime models, in case it's useful :)

[

[2020-06-11 15:56] ozgurakgun opened #488 "Add a --solver-seed option"
Conjure (through SR) supports several backend solvers. These solvers have very creative ways of accepting a seed from the command line. `conjure-solve` should gain a new option and create the appropriate arguments for the selected solver.

[2020-06-26 12:17] ChrisJefferson opened #489 "enums with repeated values do crazy things"
Given repeated values in an enum, for example:
[code]
Weird things happen, for example if you declare a function from T to int you sometimes get two images for A, and sometimes one.

I can then go on to write things like:
[code]
given the problem:
[code]
Then 'f' ends up not being a total function

[2020-07-11 14:11] gokberkkocak commented on #489
I also encountered a similar problem with enums on Conjure >v2.2. v2.2 works fine with the same model.

Using the rcpsp model from the EssenceCatalog and any instance:

[code]
Model, raw instances and the converter are in the repo [folder](https://github.com/conjure-cp/EssenceCatalog/tree/master/problems/rcpsp).

[2020-08-10 12:21] SaadAttieh opened #490 "subsetEq quantifier does not work over defined portion of function"
[code]

[2020-09-16 12:15] ndangtt opened #491 "conjure asks for CPLEX_PATH even when cplex is added to PATH"
conjure asks for CPLEX_PATH when calling `conjure solve` although I already have cplex in my PATH. Interestingly when I reverted back to a previous commit `6c29fbde9 (2019-11-19 14:31:13 +0000)`, CPLEX_PATH was no longer required. Is it an expected behaviour?

[code]

[2020-09-24 11:43] ozgurakgun commented on #491
Hmm, the old version working out of the box is slightly surprising to me. We were not passing `--cplex-dll` back then, and as far as I remember Minizinc would then only work if the dll was at a specific location. Which in turn means it wouldn't work on MacOS for example.

This is what I have in my .profile file, so I don't have to set the dll path environment variable every time. Can you do someth

[2020-11-17 14:38] SaadAttieh opened #494 "Variable sized and fixed size allDiff breaks with non integers"
[code]

[code]

[code]
Generating models for test.essence
conjure: This should never happen, sorry!

However, it did happen, so it must be a bug. Please report it to us!

Conjure is actively maintained, we will get back to you as soon as possible.
You can help us by providing a minimal failing example.

Also include the repository version for this build: ce73d3b98 (2020-10-23 08:43:31 +0100)

Issu

[2020-12-16 14:55] ChrisJefferson opened #495 "Clearing conjure-output means you get no answers"
If after solving a problem you write:

rm conjure-output/*

Then future calls to conjure to solve the same problem always give no solutions. I guess this is because that line doesn't remove the .conjure-checksum file, but clears everything else out.

[2020-12-16 14:59] ozgurakgun commented on #495
Yeeees, I normally do rm -r conjure-output. I can add a check I suppose...

[2021-05-03 21:12] ndangtt opened #500 "Bug with BACP repair spec for instance-gen"
Hi Oz,

When running `conjure parameter-generator bacp.essence`, there's an issue with the generated repair spec for instance generation. The error was caused by line 46 and 47 in the generated `bacp-instanceRepair.essence` spec.

Current lines 46 and 47:
[code]

The fix would be:
[code]

Could you please help to have a look at it?

Thank you!
[bacp.essence.txt](https://github.com/conjure-cp/conju

[2021-05-21 13:36] #500 closed

[2021-11-05 10:17] ott2 opened #501 "domain filtering breaking with w_FunctionAsRelation_RelationAsSet_Explicit?"
With
[code]
and running `conjure solve` I get:

[code]

Essence (from [models](https://raw.githubusercontent.com/stacs-cp/models-misc/main/graph/graph-shortcheaptour/graph-shortcheaptour-2017070301.essence)):
[code]

Param file (from [models](https://raw.githubusercontent.com/stacs-cp/models-misc/main/graph/graph-param-weighted/graph-weighted-50-sparsish-connected-2017070302.param)):
[code]

A pre

[2021-11-21 20:23] ndangtt opened #502 "missing param in eprime file"
Hi @ozgurakgun,

I have the following Essence model:

[code]

The output E' model from `conjure modelling -ac` for that model would be:
[code]

`d` is missing in that E' model, cause `conjure solve` to throw error on any random param file.

Could you please help to have a look at it?

Thank you!

[2021-11-21 22:35] ozgurakgun commented on #502
Whaaaaaat

Should be a quick fix, let's see if I break anything else.

[2021-11-22 10:23] #502 closed

[2021-11-22 10:23] ozgurakgun commented on #502
Do you want me to update the essence-features branch too?

[2021-11-22 17:09] ndangtt commented on #502
Thank you very much for fixing it Oz!!

And yes, it would be great to have it in the essence-features branch too :)

[2021-11-25 23:03] ott2 commented on #501
This is still happening with `Repository version 4960319af (2021-11-22 10:22:45 +0000)`. I stress that this *used to work* and this is a regression.

[2021-11-26 09:01] pwn1 commented on #501
Looks like SR has finished, so no longer doing domain filtering. Can you get between Conjure and SR here and see if SR is still producing a solution?  If so, could be a simple issue of mapping the sol back to Essence.

[2021-11-30 12:51] pwn1 opened #503 "Looks like incorrect refinement (wrong solutions with kissat, chuffed, cplex)"
Here's the essence:

[code]

The command:

[code]

Here's the sol:
[code]

It seems to have lost the "minOccur 1" attribute, some of the time. i.e. first row does not have a 9.

This is with master branch, 4960319af854be47ae5d3a065723188f3406db2d
The first solution with Chuffed has other numbers missing (other than 9), and the CPLEX solution is even weirder.
Enjoy!

[2021-11-30 12:58] ozgurakgun commented on #503
I think minOccur means "if it occurs, it occurs at least N times".

[2021-11-30 12:59] ozgurakgun commented on #503
... which may well be surprising, I don't remember why we did it this way.

[2021-11-30 14:54] pwn1 commented on #503
I find that very surprising. The word minoccur seems to only occur here in the docs (which doesn't say what it means):
https://conjure.readthedocs.io/en/latest/essence.html?highlight=minoccur#multi-set-domains
Also (more seriously for this paper) that spec was a 'boosted' one generated from this:
[code]
This seems to say that every value has to have a minimum frequency, not just if it occurs at al

[2021-11-30 21:50] #503 closed

[2021-12-03 14:48] ott2 commented on #501
Running SR in the way that Conjure claims it is doing results in:
[code]
which looks correct.

It looks to me as though Pete's diagnosis is right; Conjure doesn't seem to be able to map the solution back to the original instance variables.

[2021-12-17 10:41] #501 closed

[2021-12-17 10:43] ozgurakgun commented on #501
Apologies for taking some time with this @ott2 - should be fixed now. Please let me know if it isn't.

[2022-01-01 16:35] ott2 opened #505 "SMT backend confusion"
In current conjure `Repository version 3fcbbbbab (2021-12-17 13:08:56 +0300)` calling an SMT solver backend other than Boolector fails, because the version of Savile Row which conjure installs always thinks it is calling Boolector even when Z3 or Yices are being used.

SR wants to use `-m` to specify the model as per Boolector, but neither Z3 nor Yices support this flag.

Is this a conjure reversi

[2022-01-02 11:39] ozgurakgun commented on #505
If you pass -v to Conjure, it will print (among other things) the exact call to Savile Row. Might help identify where the problem is.

[2022-01-02 16:05] ott2 commented on #505
[code]

So it seems SR is the problem. I assume this is the SR which conjure installs, as it seems to be the only one in my path.

[2022-01-02 16:39] ozgurakgun commented on #505
You can run `savilerow -help | head -n1` to see SR version.

I won't be able to look into this for a week at least (I am away). If @pwn1 has time he might.

[2022-01-02 17:14] ott2 commented on #505
`Savile Row 1.9.1 (Repository Version: 2ac988043 (2021-09-10 10:51:58 +0100))` which seems quite a bit older than the latest, but I don't see any obvious SMT changes in SR for some time. So this might have been there for some time. I took a quick look at the SR source and in `src/solver/SMTsolver.java` the `getCommand` doesn't seem to use `satSolverName` to determine which command flags to use, bu

[2022-01-03 16:26] pwn1 commented on #505
Savile Row is doing what it's told, even though that doesn't make sense.  It is told to produce the BV (nested) encoding, and run yices-smt2 and that combination does not work.

If you take out the -smt-bv flag I would expect it to work, otherwise you could take out all the SMT flags and just use -yices2 (I think you would also need to use -yices2-bin <executableName> if it is not in Savile Row's

[2022-01-07 11:39] ndangtt opened #506 "matrix indexed by empty domain"
Hi Oz,

We currently have model where we need to be able to model a matrix indexed by empty domain. conjure doesn't seem to allow it at the moment. Is there any work-around solution for this?

[code]

[code]

We would expect conjure to give us a solution where `x` is an empty list. Below is the error message from conjure:
[code]

Thank you!
Nguyen

[2022-01-07 12:15] ozgurakgun commented on #506
I agree this is a horrible error message, but I am not sure what the ideal
behaviour should be. What would you like Conjure to do? Print an empty
matrix literal in the solution file? This model has no decision variables
after all.

On Fri, 7 Jan 2022 at 14:39, Nguyen Dang ***@***.***> wrote:

--
Özgür Akgün

[2022-01-07 12:32] ndangtt commented on #506
We'd expect conjure to print out an empty `x` (`x=[]`). This is a simplified model of a bigger spec, where we want some instances with empty `x`, and some with non-empty `x`.

[2022-01-07 12:49] #506 closed

[2022-04-06 15:28] ChrisJefferson opened #507 "Error checking is matrix is in set of sequence"
I'm not 100% sure this is even valid (I'm mixing sequences and matrices), but it tells me "this should never  happen" :)

[code]

[2022-05-02 12:01] ozgurakgun opened #510 "Generate params.irace file automatically from generator.essence"
Importing, from @ndangtt

As part of making AutoIG applicable to any problem, we need conjure to produce params.irace file from an Essence generator model. Could you please help to implement it?

The expected command is:

[code]

Example (run from `AutoIG-private` repo home folder):
[code]
This should produce a `temp-params.irace` that has the same content as `models/macc/params.irace`

[2022-05-02 12:02] ozgurakgun commented on #510
For each given integer in the generator model, we want to generate a matching irace statement.

The command renamed to: `conjure autoig --generator-to-irace works.essence`

[2022-05-02 12:05] ozgurakgun commented on #510
Did you want this available in a specific branch as well @ndangtt? It is currently pushed to master.

[2022-05-02 13:25] ozgurakgun commented on #510
Seems to work.

[2022-05-02 13:25] #510 closed

[2022-05-07 09:38] MHHenriksen commented on #423
And as a smaller increment, artifacts from the latest successful build. There's 2GB of storage for free.

I've had a lot of fun playing with Conjure for modeling Sudoku with variant rules lately, but there's a lot of limitations in 2.3.0 that (I think) have been fixed since. So I've tried various ways of building using free cloud dev envs like Codespaces, repl.it, Google Cloud Build and so on, but

[2022-05-07 09:53] ozgurakgun commented on #423
I agree a new release is needed - coming soon!

And I also agree that we need the latest binaries available for download
easily.

I’ll look into this asap. Thanks!
--
Özgür Akgün

[2022-05-08 16:04] MHHenriksen commented on #423
Yay ❤️ Looking forward to it!

There's about a 1% chance (for opportunity and energy while being a toddler's parent) I can pitch in and set up individual build jobs for the solvers. I actually sat down at my laptop yesterday eating my own words, and tinkered with a local container dev env while multitasking Stanley Parable Ultra Deluxe, and the thing that took the most time was just incrementally

[2022-05-14 20:51] MHHenriksen opened #511 "Incorrect refinement of size of set literal containing decision variables"
It's as simple as `find a,b,c:int(1..3) such that |{a,b,c}|=3` which gets refined to
[code]

Command used: `conjure solve --log-level=LogWarn -ac --solutions-in-one-file --number-of-solutions=10 --validate-solutions --solver=chuffed --limit-time=900 --log-rule-successes --verbose-trail --rewrites-trail --log-choices $files`

...why I'm doing that, you ask? Well, to work around problems and issues

[2022-05-14 21:13] #511 closed

[2022-05-14 21:14] ozgurakgun commented on #511
That's emberrasing, but thankfully easy to fix!

[2022-05-14 21:15] ozgurakgun commented on #511
By the way the new output has `such that allDiff([a, b, c; int(1..3)])` in it. And thanks for reporting!

[2022-05-15 10:31] stylpe commented on #511
Thanks, that was super quick!

May I ask for a bit of advice? I've finally stumbled my way to the solution I was looking for, but had a lot of trouble getting there. I have a long list of potential issues that could use some triaging, but I don't want to spam you and take too much of your time either, because I'm not always sure if I've just misunderstood something or if it's actually a bug or eve

[2022-05-16 10:56] stylpe opened #512 "`_` isn't renamed under certain conditions, which Savile Row doesn't like"
You can find a repro at https://replit.com/@SuperMikal/Conjure-and-Essence-20220507#feedback/Rename%20_%20for%20Savile%20Row/sudoku.essence , look at line 60 and below (plus the .param in the same folder).

I'm designing a Sudoku solver supporting a broad range of  variant rules. I want to use `_` as an alias for blanks in the given clues. (Optionally, if you have an idea for a better way to desig

[2022-05-16 11:21] ozgurakgun commented on #512
The _ thing is a convenience feature since SR doesn't support it. I'll extend it to support when it's inside a domain.

By the way: I had never used replit before but it looks convenient!

In your aside point you are basically asking for something like a Maybe type (if you are familiar with Haskell). I thought of this, but never had a syntax I was happy with. Not sure I understand your "with defau

[2022-05-16 12:41] stylpe commented on #512
I immediately found a nicer workaround after posting the issue:
[code]
Though the issue still stands.

A quick example for the aside: `given ValidDigits : set of int with default {1,2,3,4,5,6,7,8,9}`

The goal is just UX convenience when writing and reading the .param for a Sudoku puzzle, so that you can essentially just write something like "normal Sudoku rules apply" without needing to get expli

[2022-05-16 12:52] ozgurakgun commented on #512
So in this case if there is a default in the essence file, that value wouldn't need to be specified in the param file?

How about having multiple param files? You could have a base one and a more specific one. Feed both to Conjure and the later one overrides values from the previous one? Would that work as an alternative design.

(One complication is that `conjure solve` currently accepts multiple

[2022-05-16 14:50] stylpe commented on #512
Oh, I kinda like that feature while developing the model though, but maybe it could be a separate argument like - - default-params=normalsudoku.params?

Other than that, a Maybe type would do the trick (and you were right it's exactly what I meant when saying "optional") plus be great to have for other purposes too, along with the [maybe](https://hackage.haskell.org/package/base-4.16.1.0/docs/Data

[2022-05-17 11:35] stylpe commented on #512
Another idea: an operator to derive a new record from two or more records (and/or variants?), and support for partial record values, like a variant that lets you specify more than one property.

Anyways, let's save that for later. I'll build a new binary with your fix later this week and let you know how it goes!

[2022-05-19 14:32] ozgurakgun commented on #512
I'll close this issue since the underscore issue is resolved (as far as I can see). We can discuss the other request in a separate issue?

[2022-05-19 14:32] #512 closed

[2022-05-21 22:49] stylpe opened #513 "`sequence` documentation and implementation do not agree"
Here's two problems I've found while using the `sequence` type that I think might have a common root cause:

The documentation says
- "Sequences are indexed by a contiguous list of increasing integers, beginning at 1."
- Nothing to the effect that there's anything special about using a sequence in a comprehension

But this example contradicts both of these points:

[code]

The error message explai

[2022-06-10 20:38] ChrisJefferson opened #515 "ghcr.io docker images are always last release (2.3.0)"
Notice how the ghcr "master" image is the last release of conjure (from 2019).

[code]

This is (I guess) because the docker image is hard wired to 2.3.0, even though the ghcr image is rebuilt for master, and branches.

Could it be changed so `master` gives the current master branch?

@ZachNewbery

[2022-06-10 20:52] ChrisJefferson commented on #515
I think we need to do something like described here: https://github.com/docker/build-push-action/issues/276

I started doing this (I made the necessary change to the dockerfile) and accidentally pushed it to master (woops!), including breaking the github action. I've undone the change -- but we need to make the change described in that issue to get master commits.

[2022-06-17 10:54] stylpe opened #516 "Specify which generator is unsupported in error message"
My model is growing quite large, and so are the errors I get. Try to find what's wrong in this one: https://replit.com/@SuperMikal/Conjure-and-Essence-20220507#feedback/What%20unsupported%20generator/stdout (error output starts at line 1222)

There's a LOT of context there 😅 so knowing which function or operator I'm looking for would be helpful.

Also, the same goes for all the "Not refined" cases

[2022-06-20 13:53] stylpe opened #517 "Error: Malformed JSON in a cached Essence Prime model"
Got this error, and it seems like there's two things wrong with Conjure's output:
- `/\` and `\/` have unescaped backslashes.
- Conjure actually writes data that doesn't conform to its own schema, see 7th entry in trailRewrites array, the "rule" is an array, but must be a string to be read back in. Manually joining the string with \n resolves the issue, so I would suggest that as a solution.

See

[2022-06-29 15:37] stylpe commented on #517
Would I be right in guessing https://github.com/conjure-cp/conjure/commit/5bbace8a8e2826aa35c33561ebbca2bcf657560c is where I would need to look to contribute a fix for this?

[2022-06-29 15:40] ozgurakgun commented on #516
Sorry I missed this. I agree we can give a bit more context from the original expression.

We can get away with the current error messages most of the time since Essence files are typically not very long :)

[2022-08-24 10:55] ozgurakgun opened #521 "Bad error messages"
These are found by @fionakillalea - thanks!

[2022-08-25 12:47] fionakillalea commented on #521
There is also this bug when the second argument (which is meant to be a partition) is missing for the operator party. For example, in the following Essence:

find b : set of int(1..6)
such that b = party(5)

[2022-08-28 17:45] jokasimr opened #522 "Bug in tutorial example"
In the tutorial, [Model 2: reachability matrix](https://conjure.readthedocs.io/en/latest/tutorials.html#model-2-reachability-matrix) seems to have a bug.

The example from the tutorial, with maximization added to illustrate issue:
[code]
With parameter file:
[code]

Running `conjure solve -ac graph.essence graph.param` produces the solution:
[code]

The issue seems to be that in the line `(exists

[2022-08-28 18:01] ozgurakgun commented on #522
Thanks for the report, tagging @ott2 since he wrote that example.

[2022-09-06 10:57] ott2 opened #523 "make docs fails with recent sphinx-doc"
On my macOS 12.5.1 (Intel) system:

`make docs` fails with
[code]

There is a second error
[code]

As a result, `make docs` currently builds neither the PDF nor the HTML documentation.

From https://www.sphinx-doc.org/en/master/extdev/appapi.html?highlight=lexer#sphinx.application.Sphinx.add_lexer

Register a new lexer for source code.

My version of sphinx-doc:
[code]

As far as I can tell sphinx

[2022-09-06 11:38] ott2 commented on #423
Just a quick comment on Z3: recent versions support Python 3 (4.3.2 seems to have added support). Editing `etc/build/install-z3.sh` to replace `python` with `python3` should work if python does not call python3 on your system. (Yes, we should fix our script.)

[2022-09-06 12:43] ott2 commented on #513
A sequence is not an array, and if `s` is a sequence then `s(1)` is the first element. The error here is not very helpful, admittedly. Moreover, `s(1)` is a tuple `(2,5)`:

[code]
has solution
[code]

However, there does seem to be something wrong with indexing tuples, which I'll post as a separate issue.

[2022-09-06 13:48] ott2 commented on #522
Thanks, this is definitely a bug.

Model 2 is implicitly assuming a particular variable ordering, and is essentially the same incomplete specification as Model 4. To make it correct we need to add a `minimising` statement, in the same way that Model 5 fixes Model 4.

[2022-09-07 12:16] ott2 commented on #523
If I modify the name of `BNFLexer` (to avoid potential conflicts with an existing lexer), the error switches to `EssenceLexer`; I am somewhat confused now. I wasn't seeing this when just changing the order of the calls to the two lexers, but perhaps Python is hashing them and changing the name has changed which hash gets to be considered first? If this is right, then neither lexer is currently wor

[2022-09-07 16:11] ott2 commented on #523
Documenting current progress. I tweaked the syntax of the calls to `add_lexer` in `conf.py`:
[code]
and this now seems to allow `make latexpdf` to complete with Sphinx-5. However, there seem to be some version glitches. My setup:
[code]
I think the key difference to what one would expect is `docutils                      0.17.1` which is quite old; I got this by installing Sphinx-2.x instead of 5.

[2022-09-08 09:57] ott2 commented on #523
It looks like with the current versions of the various Python packages,
[code]
will install the right versions of all the Python packages needed for `make docs` to work once the lexer calls have been modified as above. I will add this to the documentation and open a merge request.

[2022-09-09 18:23] SaadAttieh opened #532 "Cannot compile conjure on Apple Silicon"
[code]

[2022-09-09 19:13] ozgurakgun commented on #532
Oh that's surprising as I develop it on an M1 machine :)

Did you migrate from an Intel machine using time machine by any chance?

[2022-09-13 12:45] stylpe commented on #517
I had some time (finally) to look at this again, and it looks like I forgot some important parameters to actually reproduce the bug in the test, so while the CI might pass now, it's not ready after all :P

[2022-09-16 17:16] ott2 commented on #532
Another data point: on my M1 MBP migrated from Intel, the Conjure makefile ends up running `stack --local-bin-path $HOME/.local/bin setup` and this (Intel-built) stack 8.6 then tries to download and install an Intel GHC 8.6.5.

[2022-09-21 14:38] ozgurakgun commented on #532
Trying to reproduce this.

[code]

Took a long time (18 minutes), downloaded GHC-8.6.5 and the entire Haskell ecosystem, but ran without any errors.

Just make sure ~/.local/bin is in PATH or set BIN_DIR to something that is in your path.

So, I cannot reproduce this at the moment.

[2022-09-23 16:39] ChrisJefferson opened #533 "Conjure produce bad answers if same param file is reused"
I was getting some incorrect answers from conjure, and I think I've figured out why -- I have 3 files in a directory (attached), a.essence, b.essence and c.param. These files aren't interesting a.essence and b.essence are just files which have quite a lot of answers.

If I do:

[code]

Then the second `conjure solve` exits with no solutions, and the first stops, printing the solutions it found so

[2022-09-24 15:27] pwn1 commented on #533
That could be a savile row issue, i.e. the second SR to start is overwriting the files of the first one -- what are the filenames of the param files produced by conjure? i.e. are they the same for both commands

[2022-09-26 08:18] ozgurakgun commented on #533
Just to make a note here as well Chris. The default model will be called conjure-output/model000001.eprime, hence if the same param name is used Conjure might explicitly set the filenames used by SR to clash. Even if Conjure didn't set these I think the defaults of SR would cause them to clash as well.

I would use a separate output directory per Essence file.

We can change Conjure's default outp

[2022-09-29 12:56] ott2 opened #534 "Conjure licence"
I've been working on a `brew` formula for Conjure. One step requires assigning a licence type, matching one of the identifiers at https://spdx.org/licenses/ and as far as I can tell it is much more likely that the formula will be accepted if we can avoid using the fallback
[code]
which is the only one I can currently match to.

It's not clear to me which of these identified licences best matches t

[2022-09-29 12:57] ott2 commented on #534
A reasonably close match is https://creativecommons.org/licenses/by-sa/4.0/ but it's not quite a match.

[2022-09-29 13:45] ozgurakgun commented on #534
It is BSD-3 clause at the moment as per the [cabal file](https://github.com/conjure-cp/conjure/blob/master/conjure-cp.cabal#L7).

So I think https://spdx.org/licenses/BSD-3-Clause.html would do?

[2022-10-02 08:14] ChrisJefferson opened #535 "--solutions-in-one-file doesn't move solutions out of conjure-output"
If I pass "--solutions-in-one-file", a file called `model00001-<param>.solutions` gets created in the conjure-output directory, but it doesn't get copied out.

The same problem occurs with `--output-format=json`, once again the file is left in `conjure-output`.

[2022-10-05 14:42] ott2 commented on #534
I'll use ``license "BSD-3-Clause"`` then, thank you!

[2022-10-05 14:42] #534 closed

[2022-10-05 14:48] #523 closed

[2022-11-02 10:29] ozgurakgun opened #538 "Add binary relation attributes to the docs"
Some notes from code comments:

        one BinRelAttr_Reflexive     = return [essence| forAll &xP           : &dom . &rel(&x,&x) |]
        one BinRelAttr_Irreflexive   = return [essence| forAll &xP           : &dom . !(&rel(&x,&x)) |]
        one BinRelAttr_Coreflexive   = return [essence| forAll &xP, &yP      : &dom . &rel(&x,&y) -> &x=&y |]
        one BinRelAttr_Symmetric     = return [essenc

[2022-11-02 10:31] ozgurakgun commented on #491
Is this still an issue @ndangtt?

[2022-11-03 09:20] #535 closed

[2022-11-03 09:22] ozgurakgun commented on #535
Should be done, but it would be great if you can test it.

There is also a new output-format jsonstream. This one prints a solution per line. output-format=json prints an array of solutions. (when used with --solutions-in-one-file)

[2022-11-03 09:22] #517 closed

[2022-11-03 09:27] ozgurakgun commented on #533
Any suggestions for this one @ChrisJefferson? I can implement what I suggest in the previous comment without too much hassle (output dir named after the essence file) but this can also be achieved by setting an output directory manually (using -o).

[2022-11-03 09:28] ozgurakgun commented on #451
Please reopen if there is an ongoing issue here!

[2022-11-03 09:30] ozgurakgun commented on #522
Just wondering if you could have a go at fixing this one @ott2? I am thinking it'll be easier for you to fix it since you wrote the example.

[2022-11-03 09:30] ozgurakgun commented on #532
Closing since I cannot reproduce.

[2022-11-03 09:30] #532 closed

[2022-11-03 09:33] ozgurakgun commented on #505
Hi @pwn1 - just wondering whether yices is supposed to support the bv encoding. If it doesn't, I think the fix is removing that option from Conjure.

[2022-11-15 14:47] alex-konovalov commented on #522
@ozgurakgun is this fixed in https://github.com/conjure-cp/conjure/releases/tag/v2.4.0 ?

[2022-11-15 20:17] ozgurakgun commented on #522
I don't think so. This is a bug in the docs, just to be clear.

[2022-11-22 10:40] ozgurakgun commented on #521
I've just reproduced this. @Maurice-Byrne can you check what your new parser does on these examples please? There are 3 test cases in the above commit: https://github.com/conjure-cp/conjure/commit/23ef5ec7ecac8b6a0ae42dffe28e1fb96a7b14c4

Ye olde parser get's very angry.

1.essence

[code]

2.essence

[code]

3.essence
[code]

[2022-11-22 10:42] #491 closed

[2022-11-22 14:38] JBeaddie opened #541 "Bad solutions file with no solutions and certain flags"
Assume that impossible.essence is an essence file with no solutions.

Then running:
[code]

Conjure will still create a _model000001.solutions.json_ file.
In addition the solutions file will only contain:
[code]
A right square-bracket.

[2022-11-23 09:14] ozgurakgun commented on #541
I think it probably should still create the file but have [] in it, what do you think?

[2022-11-24 15:10] ozgurakgun commented on #541
I've implemented this in #542